.siteMaxWidthContainer {
   max-width px(col(12))
   @media $md-lg {
      padding $space-7
   }
   @media $sm {
      padding $space-5 $space-2
   }
}
.siteMaxWidthContainer > h2 {
   color $color-yellow1
   font-size $font-2
   font-weight 700
   text-align center
   @media $md-lg {
      margin-bottom: $space-4
   }
   @media $sm {
      margin-bottom $space-3
   }
}
